<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--1. 定 义 数 据 源 ， mybatis 直 接 使 用 spring 中 定 义 的 数 据 源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/hbxy_zb?autoReconnect=true&amp;characterEncoding=utf8&amp;useUnicode=true"/>
        <property name="username" value="root" />
        <property name="password" value="000000" />
    </bean> <!--2. 配 置 MyBatis 工 厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注 入 数 据 源 -->
        <property name="dataSource" ref="dataSource" />
        <!--指 定 核 心 配 置 文 件 位 置 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean> <!--3. 配 置 dao 文 件 扫 描 器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mzj.course.product.dao"/>
    </bean>
    <!--4. 开 启 Service 服 务 接 口 扫 描 -->
    <context:component-scan base-package ="com.mzj.course.product.service"/>
</beans>